// GOLBAL VARIABLES

$pink : #E94671
$lightGrey: #F2F2F2
$lightpink: #F1A1A0 

$fontFamily: itc-avant-garde-gothic-pro, sans-serif






// Layout Styles
body
	font-family: $fontFamily

.contacts-header
	height: 50px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-around
	&__item
		display: inline-block
		i 
			margin-right: 10px
	.item-location p
		margin-bottom: 0


.about-section
	background-color: $lightGrey
	&__content
		display: flex
	&__content__item 
		width: 50%
		margin-top: 120px
		margin-bottom: 108px



@media screen and (max-width: 768px)
	.col-sm
		text-align: center
		margin: 25px 0


.container-fluid
	padding-left: 65px
	padding-right: 65px

.social-proof
	h3
		text-align: center
		padding: 60px
	&__logos
		display: flex
		align-items: center
		justify-content: space-between


.class-cards
	background-color: $lightGrey
	width: 100vw
	padding-bottom: 100px
	&__title
		text-align: center
		margin-top: 60px
		margin-bottom: 32px
		padding: 30px
	&__desc
		font-size: 15px
		text-align: center
		margin-bottom: 40px
	&__container
		@media screen and (max-width: 768px)
		display: flex
		justify-content: center
	&__card
		margin-left: 15px
		width: 247.86px
		height: 230px
		border-radius: 5px
		background: url('../../assets/images/child.jpeg')
		background-repeat: no-repeat
		background-size: cover
		display: flex
		align-items: center
		justify-content: center
		









// navigation Styles

.fas--pink
	color: $pink



// Button Styles
.btn
	&--pink
		background-color: $pink
		color: white

